<!doctype html>
<html>
<head>
<meta charset="utf-8"/>
<title>{{.Title}} - Minim</title>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery.hotkeys.js"></script>
<script src="/static/js/rangy-core.min.js"></script>
<script src="/static/js/rangy-selectionsaverestore.min.js"></script>
<script src="/static/js/dropzone.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/styles.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
<link rel="icon" type="image/png" href="/static/img/favicon.png">
</head>
<body>
<a href="/" id="home"><span class="glyphicon glyphicon-arrow-left"></span> Home</a><br />
<ul id="actions">
  <li id="save"><span class="glyphicon glyphicon-floppy-saved"></span></li>
  <li><a href="/pdf/{{.Id}}" data-toggle="tooltip" data-placement="left"
	  title="Display PDF" target="_blank"><span class="glyphicon
      glyphicon-file"></span></a></li>
  <li><a href="/zip/{{.Id}}" data-toggle="tooltip" data-placement="left"
	  title="Download zip"><span class="glyphicon
      glyphicon-download"></span></a></li>
</ul>
<h1 id="docTitle" contenteditable="true">{{.Title}}</h1>
<div id="content" contenteditable="true">{{.Content}}</div>
<div id="menu"></div>
<script>
  // As found here: https://stackoverflow.com/questions/6690752/insert-html-at-caret-in-a-contenteditable-div
  function pasteHtmlAtCaret(html, selectPastedContent) {
    var sel, range;
    if (window.getSelection) {
        // IE9 and non-IE
        sel = window.getSelection();
        if (sel.getRangeAt && sel.rangeCount) {
            range = sel.getRangeAt(0);
            range.deleteContents();

            // Range.createContextualFragment() would be useful here but is
            // only relatively recently standardized and is not supported in
            // some browsers (IE9, for one)
            var el = document.createElement("div");
            el.innerHTML = html;
            var frag = document.createDocumentFragment(), node, lastNode;
            while ( (node = el.firstChild) ) {
                lastNode = frag.appendChild(node);
            }
            var firstNode = frag.firstChild;
            range.insertNode(frag);

            // Preserve the selection
            if (lastNode) {
                range = range.cloneRange();
                range.setStartAfter(lastNode);
                if (selectPastedContent) {
                    range.setStartBefore(firstNode);
                } else {
                    range.collapse(true);
                }
                sel.removeAllRanges();
                sel.addRange(range);
            }
        }
    } else if ( (sel = document.selection) && sel.type != "Control") {
        // IE < 9
        var originalRange = sel.createRange();
        originalRange.collapse(true);
        sel.createRange().pasteHTML(html);
        if (selectPastedContent) {
            range = sel.createRange();
            range.setEndPoint("StartToStart", originalRange);
            range.select();
        }
    }
  }

  var imgCount = 0;
  var docModified = false;
  var changeCount = 0;

  function parseContent() {
    var content = $("#content");
    var savedSel = rangy.saveSelection();

    $("#content > h1, h2, h3").contents().unwrap();

    var text = $("#content").html();

    var titles = /#+[^<]+/g;
    var images = /!\[([^\]]*)\]\(\)/g;
    var anchorId = 0;
    var menu = "<ol>";
    var lastLevel = 1;

    // Replace titles
    var newContent = text.replace(titles, function(match) {
      anchorId++;
      var level = 0;
      while (match[level] === '#')
        level++;

      if (level > 3) {
        return match;
      }

      if (level < lastLevel) {
        while (lastLevel-- > level) {
          menu += '</ol>';
        }
      } else if (level > lastLevel) {
        menu += '<ol>';
      }

      lastLevel = level;

      var title = match.substring(level);
      menu += '<li><a href="#anchor' + anchorId + '" clas="title' + level + '">'
              + title + '</a></li>';

      return '<h' + level + ' id="anchor' + anchorId + '">'
             + match + '</h' + level + '>';
    });

    menu += "</ol>";

    // Replace images
    var newImgs = [];
    var newContent = newContent.replace(images, function(match, p1) {
        while ($("#img" + imgCount).length) {
          imgCount++;
        }
        var imgId = imgCount++;
        newImgs.push(imgId);
        return '![' + p1 + ']<span class="imgDropdown" id="img' + imgId +
          '">(Click here to insert image)</span>';
    });

    $("#menu").html(menu);
    content.html(newContent);
    rangy.restoreSelection(savedSel);

    // Insert dropzones
    $(".imgDropdown").each(function () {
      var imgId = '#' + $(this).attr('id');

      var newDropzone = new Dropzone(imgId, {
        url: "/uploadimage/{{.Id}}",
        createImageThumbnails: false
      });

      newDropzone.on('success', function(file, response) {
          var imageName = response;

          setModified();
          $(imgId).removeClass('dz-clickable');
          $(imgId).removeClass('dz-started');

          $(imgId).html('(' + imageName + ')'
            + '<br /><img class="imgPreview" src="/image/{{.Id}}/'
            + imageName + '" />');
      });
    });
  }

  var lastKey = null;
  $("#content").on('keyup', function (e) {
    if (lastKey !== 13 && e.which === 13) {
      parseContent();
    } else if (e.which >= 32 && !e.ctrlKey) {
      setModified();
      ++changeCount;

      if (changeCount > 100) {
        saveAll();
      }
    }

    lastKey = e.which;
  });

  function setModified() {
    docModified = true;
    $("#save").html('<span class="glyphicon glyphicon-asterisk"></span>');
  }

  function setSaving() {
    $("#save").html('<span class="glyphicon glyphicon-flash"></span>');
  }

  function setSaved() {
    changeCount = 0;
    isSaving = false;
    docModified = false;
    $("#save").html('<span class="glyphicon glyphicon-floppy-saved"></span>');
  }

  var isSaving = false;
  function saveAll() {
    if (isSaving || !docModified)
      return;

    isSaving = true;

    var title = $("#docTitle").text().trim();
    var content = $("#content").html().trim();

    setSaving();
    $.post("/save", { id: {{ .Id }}, title: title, content: content }, setSaved);
  }

  $("#docTitle").on('focusout', function() {
      setModified();
      saveAll();
  });

  $(window).load(function() {
     $("#content").focus();
     parseContent();
  });

  // Automatically save every 30 seconds
  setInterval(saveAll, 30000);

  // Shortcuts
  $(document).bind('keydown', 'ctrl+s', function() {
    saveAll();
    return false;
  });

  $('#content').bind('keydown', 'ctrl+shift+i', function() {
    pasteHtmlAtCaret('<br />![caption]()<br />');
    parseContent();
    return false;
  });

  $('#content').bind('keydown', 'ctrl+shift+c', function() {
    pasteHtmlAtCaret('<br />&lt;!-- --&gt;<br />');
    parseContent();
    return false;
  });

  $('[data-toggle="tooltip"]').tooltip();

</script>
</body>
</html>
